#github "ninjaprox/NVActivityIndicatorView"
#github "lexrus/LTMorphingLabel"
#github "tidwall/IoniconsSwift"
#github "psharanda/Atributika"
#github "cjwirth/RichEditorView”
#github "bryx-inc/BRYXBanner"
github "realm/realm-cocoa" ~>  3.1.2